<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div class="uk-card-body">
                <div class="container">
                    <a  href="">
                        <img src="../../../../assets/img/logo/logotipotrueque2.png" width="300" height="200" alt="" title="" class="uk-margin-small-bottom">
                        <canvas width="10" height="10"></canvas>
                    </a>
                    <p class="footer-text">Gracias por visitar TruequeExpress. Realmente estamos agradecidos. Ten un día maravilloso.. 🎉</p>
                </div>
            </div>
            <div class="uk-card-body uk-margin-remove">
                <div class="container">
                    <h4>Redes Sociales</h4>
                    <a  href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" width="50" height="50" alt="" title="">
                        <canvas width="10" height="10"></canvas>
                    </a>
                    <a  href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/512px-Twitter-logo.svg.png" width="50" height="50" alt="" title="">
                        <canvas width="10" height="10"></canvas>
                    </a>
                    <a  href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="50" height="50" alt="" title="">
                        <canvas width="10" height="10"></canvas>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-text-center">
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
            <div>
                <p class="footer-text">2023 | TruequeExpress</p>
            </div>
        </div>
    </div>
</div>

