<div  class="uk-position-relative text-color" >
    <div class="uk-section-default">
                <div>
                    <nav class="uk-child-width-expand@s uk-text-center" uk-grid>
                        <input type="checkbox" id="check">
                        <label for="check" class="checkbtn">
                          <img src="assets/img/icons/menu.png" width="50" height="50" alt="">
                        </label>
                        <ul>
                            <li><a>Nosotros |</a></li>
                            <li><a>Blog |</a></li>
                            <li><a>Contacto</a></li>
                        </ul>
                        <ul>
                            <li><a>Contacto SoporteTruequeExpress@gmail.com</a></li>
                        </ul>
                        <ul>
                            <li><a>Iniciar Sesión |</a></li>
                            <li><a>Registrarme</a></li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <nav class="uk-child-width-expand@s uk-text-center nav2" uk-grid>
                        <input type="checkbox" id="check">
                        <label for="check" class="checkbtn">
                          <img src="assets/img/icons/menu.png" width="50" height="50" alt="">
                        </label>
                        <ul>

                        </ul>
                        <ul>
                            <li><a>HOME |</a></li>
                            <li><a>INTERCAMBIOS |</a></li>
                            <li><a>FAVORITOS |</a></li>
                            <li><a>BLOGS</a></li>
                        </ul>
                        <ul>
                            <form class="uk-grid-small" uk-grid>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="name" placeholder="Buscar">
                                </div>
                            </form>
                        </ul>
                      </nav>
                </div>
    </div>
</div>
